#!/bin/bash
#
# This script checks for our secrets in the source tree before commiting.
#
secrets="mycompany XYZPDQSOMETHING somePrivateThing"

rv=0
for path in $(git ls-files -cm -x secrets.sh -x check_secrets.sh); do
	if [ -e "$path" ] ; then
		for secret in $secrets; do
			if grep -H -i "$secret" $path ; then
				rv=1
			fi
		done
	fi 
done
exit $rv
