package appengine

// This is an example configuration. Rename this file to
// secrets.go and fill in the data before deploying appengine.

import (
	"github.com/crewjam/usermgr/web"
	"golang.org/x/oauth2"
	"golang.org/x/oauth2/google"
)

var config = web.Config{
	AdminKey: AdminKey(""),
	Auth: web.OauthAuth{
		Config: oauth2.Config{
			ClientID:     "",
			ClientSecret: "",
			Scopes:       []string{"openid", "profile", "email"},
			RedirectURL:  "https://users.example.com/oauth2callback",
			Endpoint:     google.Endpoint,
		},
		UserInfoURL:     "https://www.googleapis.com/oauth2/v3/userinfo",
		EmailSuffix:     "@example.com",
		TokenSigningKey: []byte(""),
	},
}
